<footer class="app-footer">
  <mat-toolbar color="primary" class="footer-toolbar">
    <div class="footer-content">
      <div class="footer-logo">MyApp &copy; 2024</div>
      
      <div class="footer-links">
        <a mat-button routerLink="/privacy">Privacy Policy</a>
        <a mat-button routerLink="/terms">Terms of Service</a>
      </div>

      <div class="social-icons">
        <span>Follow us: </span>
        <button mat-icon-button> <mat-icon>facebook</mat-icon> </button>
        <button mat-icon-button> <mat-icon>twitter</mat-icon> </button>
      </div>
    </div>
  </mat-toolbar>
</footer>
